.container{
    display: grid;
    grid-gap: 5px;
    height: 100vh;
}

.container *{
    background-color: blueviolet;
    font-size: 60px;
    padding: 10px;
    overflow: hidden;
}



/*---- 1 ----*/

/*
.container{
    grid-template-areas: 
        "header" 
        "section" 
        "aside-left" 
        "aside-right" 
        "footer";
}

header {
    grid-area: header;
}
.side-left {
    grid-area: aside-left;
}
section {
    grid-area: section;
}
.side-right {
    grid-area: aside-right;
}   
footer {
    grid-area: footer;
}

@media (min-width: 700px) {
    .container {
        grid-template-areas: 
            "header header header"
            "aside-left section aside-right"
            "footer footer footer"; 
        }
}

------ 1 END ----- */

/* ------ 2 -------- 

.container {
    height: 100vh;
    grid-template-columns: 100px 20% auto;
}


footer {
    grid-column-start: 3;
}

.side-left {
    grid-row-start: span 2;
}

------2 END -------- */

/* ------ 3 ------- */
/*
.container {
    height: 100vh;
    grid-template-columns: 
        [samanta-fox] 100px  
        [elvis-presley] 20% 
        [johnny-cash] auto 4fr 
    ;
    grid-template-rows: 14fr 3fr;
}

footer {
    grid-column: johnny-cash;
}

.side-right{
    grid-column: samanta-fox     / span 2;
} */

/*----4 ----*/

/*
.container {
    height: 100vh;
    grid-template-columns: 
    minmax(min-content, max-content) 
    minmax(max-content, auto)
    minmax(max-content, auto);
}
/*min-content, max-content/ */

/*-----4 END -----*/

/* ------- 5 ----- *//*
.container {
    /*grid-template-columns : repeat(4, 5% 10% 15%);*//*
    grid-template-columns : repeat(auto-fill,  /*auto-fit*//*
        minmax(50px, auto)
        minmax(100px, auto)
        minmax(200px, auto)
    );
    
}
*/

/* ------- 5 END ---- */
/*----- 6 -----*/

/*
.container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: column dense;
 }

 .container div:nth-of-type(2),
 .container div:nth-of-type(3){
     grid-row: span 2;
 }
 */

 /*---- 7 (10 elements)-----*/
 /*
 .container {
    grid-template-rows: 4fr 6fr;
    grid-auto-rows: 10fr  2fr;

    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
 }

 .container div {
    font-size: 20px;
}
/* 8
.container div:nth-child(4) {
    order: 1;
}

.container div:nth-child(5) {
    order: -1;
}
.container div:nth-child(6) {
   grid-column: 2;
   grid-row: 1;
}

*/

/* ------ 9 ----- */
/*
.container { */
    /*
    grid-template-areas: 
        "nav1 nav2 nav3"
        "main main nav3";

    grid-template-rows: 
        [header-top] 1fr
        [header-bottom main-top] 5fr
        [main-bottom];
    
    grid-template-columns: 2fr auto 1fr; */

/*
    grid-template: 
        [header-top] "nav1 nav2 nav3" 1fr
        [header-bottom main-top] "main main nav3" 5fr
        [main-bottom]
        / 2fr auto 1fr;
}

nav:nth-of-type(1) {
    grid-area: nav1;
}
nav:nth-of-type(2) {
    grid-area: nav2;
}
nav:nth-of-type(3) {
    grid-area: nav3;
}

section {
    grid-area: main;
}

*/

/* ---- 9 ---- */
/*
.container {
    grid: /*auto-flow 5fr 15fr / 2fr 1fr*/  /* 5fr 15fr / auto-flow 2fr 1fr;
}

.container div {
    font-size: 13px;
}
*/



