

/*START - alap html, alap színek*/

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: lightgray;
}

/* STEP 1 HEADER */ 

    /*mobile first*/
    /*1*/
    header {
        background-color:   gray;
        box-shadow: 0px -10px 20px 0px rgba(0,0,0,.8) inset;
        border-bottom: 2px solid black;
    }
    /*2*/
    header a,
    header button {
        
        font-size: 16px;
        font-weight: bold;
        border: none;
        
        cursor: pointer;
    }

    /*3*/
    header {
        display: grid;
    }
    /*4*/
    header a,
    header button {
        text-align: center;
        color: white;
        background: dimgrey;
        cursor: pointer;
    }
    header a:hover,
    header button:hover {
        background-color: darkgrey;
    }
    /*5*/
    header nav {
        display: grid;
    }
    /*6*/
    .logo {
        display: none;
    }
    header {
        height: 30vh;
    }
    /*7*/
    header {
        grid-template-rows: 4fr 1fr;
    }
    /*8*/
    header {
        grid-gap: 1px;
    }
    header a {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    /*9*/
    nav {
        grid-gap: 1px;
    }

    /*10*/
    .movie-item{
        padding: 1px;
        background-color: white;
    }
    /*11*/
    .movie-item{
        display: grid;
        grid-template-rows: 1fr 7fr 1fr;
    }
    /*12*/
    .movie-item * {
        overflow: hidden;
    }
    /*13*/
    #content-wrapper {
        display: grid; 
        grid-gap: 5px;
        padding: 5px;
    }

    /*14*/
    #content-wrapper {
        grid-auto-rows: 70vh;
    }
    
    /*15*/
    .movie-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 2px 5px;
        margin: 0;
        background: white linear-gradient(0deg, lightgray, transparent);
    }

    .img-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .movie-desc {
        font-size: 13px;
        padding: 5px;
    }
    /*16*/
    @media (min-width: 700px) {
        .logo{
            display: block;
        }
        header {
            grid-template-columns: 1fr 4fr 1fr;
            grid-template-rows: unset;
            height: 60px;
        }
        /*17*/
        nav {
            grid-auto-flow: column;
        }
        /*18*/
        #content-wrapper {
            grid-template-columns: 1fr 1fr; /* 1fr 1fr 1fr, 1fr 2fr 1fr  */
            grid-auto-rows: 33vh;
        }
        /*18b*/
        .movie-item{
            grid-template-rows: 2fr 5fr 3fr;
        }
        /*19*/
        #content-wrapper {
            grid-template-columns: repeat(5, minmax(200px, auto));
        }

        /*20*/
        #content-wrapper {
            grid-template-columns: repeat(auto-fill, minmax(200px, auto));
        }

        /*21*/
        .movie-item:nth-of-type(5n) {
            grid-column-start: span 2;
            grid-row-start: span 2;
        }
        /*21b*/
        .movie-item:nth-of-type(5n){
            grid-template-rows: 1fr 7fr 1fr;
        }
        /*22*/
        #content-wrapper {
            grid-auto-flow: row 
            ;
        }

        /*24*/

        #page-wrapper{
            display: grid;
            grid-template-areas: 
                "header header header header header  header"
                "lbanner  content content content content  rbanner"
        }

        header {
            grid-area: header;
        }

        #content-wrapper {
            grid-area: content;
        }

        .left {
            grid-area: lbanner;
        }

        .right {
            grid-area: rbanner;
        }

        /*25*/
        #page-wrapper{
            display: grid;
            grid-template-areas: 
                "header header header header header  rbanner"
                "lbanner  content content content content  rbanner"
        }

    }



    /*23*/

    .left, .right{
        background-color: cadetblue;
        color: white;
        font-weight: bold;
        text-align: center;
        display: flex;
        flex-flow: column;
        justify-content: center;
        height: 80vh;
    }




    

    /*<section id="page-wrapper">
        <aside class="left">BANNER L</aside>
        <aside class="right">BANNER R</aside>
    </section>*/

