.container {
    display: grid;
    height: 100vh;
    grid-gap: 5px;
    
}

.container {
    /*
    grid-template-areas:
       "nav1 nav2 nav3"
       "main main nav3";

    grid-template-rows:
       [header-top] 1fr
       [header-bottom main-top] 5fr
       [main-bottom];


       grid-template-columns: 2fr auto 1fr;
       */

       grid-template: [header-top] "nav1 nav2 nav3" 1fr
       [header-bottom main-top] "main main nav3" 5fr
       [main-bottom] / 2fr auto 1fr;
}

section {
    grid-area: main;
}

nav:nth-of-type(1) {
    grid-area: nav1
}

nav:nth-of-type(2) {
    grid-area: nav2
}

nav:nth-of-type(3) {
    grid-area: nav3
}



   

    @media (min-width: 700px) {
        .container {
            /*grid-template-areas:
                "header header header"
                "aside-left section aside-right"
                "aside-left footer footer" */
        }
    }

.container * {
    background-color: grey;
    font-size: 30px;
    padding: 10px;
    overflow: hidden;
    color: white;
}