ul {
    list-style: none;
}

a {
    text-decoration: none;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: lightgray;
}

header {
    background-color:   gray;
    box-shadow: 0px -10px 20px 0px rgba(0,0,0,.8) inset;
    border-bottom: 2px solid black;
    display: grid;
    grid-gap: 1px;
    height: 30vh;
    grid-template-rows: 4fr 1fr;
}

header a,
header button {
    background: dimgray linear-gradient(0deg, black, transparent);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    text-align: center;
    cursor: pointer;
}


header nav {
    display: grid;
    grid-gap: 1px;
}


header nav a {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header nav a:hover,
header button:hover {
    background-color: rgb(143, 143, 143);
}

.logo{
    display: none;
}

#content-wrapper {
    display: grid; 
    grid-gap: 5px;
    grid-auto-rows: 70vh;
    grid-auto-flow: row dense;  
    padding: 5px;
}


.movie-item{
    display: grid;
    grid-template-rows: 1fr 7fr 1fr;
    padding: 1px;
    background-color: white;
}

.movie-item * {
    overflow: hidden;
}

.movie-item h3{
    white-space: nowrap; 
    padding: 2px 5px;
    margin: 0;
    background: white linear-gradient(0deg, lightgray, transparent);
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-overflow: ellipsis;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-desc {
    font-size: 13px;
    padding: 5px;
}

.left, .right{
    background-color: cadetblue;
    color: white;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 80vh;
}

@media (min-width: 700px) {

    #page-wrapper {
        display: grid;
        grid-template-areas: 
            "header header header header header  header"
            "lbanner  content content content content  rbanner"
    }

    
    .logo{
        display: block;
    }
    
    header {
        grid-area: header;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: unset;
        height: 60px;
    }
    nav {
        grid-auto-flow: column;
    }

    #content-wrapper {
        grid-template-columns: repeat(auto-fill, minmax(200px, auto));
        grid-auto-rows: 33vh;
        grid-area: content;
    }

    .left {
        grid-area: lbanner;
    }
    .right {
        grid-area: rbanner;
    }

    .movie-item{
        display: grid;
        grid-template-rows: 2fr 5fr 3fr;
    }

    .movie-item:nth-of-type(5n) {
        grid-column-start: span 2;
        grid-row-start: span 2;
        grid-template-rows: 1fr 7fr 1fr;
    }
}

    